#page-login {
    width: 100vw;
    height: 100vh;
    color: var(--color-text-in-primary);
    background: #F0F0F7;
    margin: 0;
}
#page-login-content{
    display: flex;
}
.log-container {
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 50%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #8257E5;
}
.log-container .proffy {
    width: 335px;
    height: 98px;
}
.log-container .proffy img{
    width: 100%;
    height: 100%;
}
.log-container .back-image{
    position: absolute;
    left: 0;
    top: 0;
    width: 90%;
    height: 90%;
    margin-top: 5rem;
}

.login {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    right: 0px;
    top: 0px;
}

.login .login-container{
    width: 352px;
    height: 363px;
    right: 160px;
    top: 229px;
}

.login-password{
    display: flex;
    justify-content: space-between;
}

.login h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 15px;

    color: #32264D;
}
.login .login-password{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #9C98A6;
}


.login .buttons-container {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.login .buttons-container a {
    width: 37.8rem;
    height: 5.6rem;
    border-radius: 0.8rem;
    margin-right: 0rem;
    font: 700 2.0rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #9C98A6;
    transition: background-color 0.2s;
}

.login .buttons-container a.log-in {
    background: #DCDCE5;
}

.login .buttons-container a.log-in:hover {
    background: var(--color-secondary);
    color: white;
}

.login .login-password{
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.login .login-password h3 {
    margin-left: -70px;
}

#page-login-content footer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 30%;
    right: 0px;
    bottom: 0px;
}

#page-login-content footer .cadastro{
    width: 352px;
    height: 63px;
    right: 160px;
    top: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 26px;
    color: #6A6180;
}


/* @media (min-width: 1100px){
    #page-login-content {
        max-width: 1100px;
        display: flex;
        
    }

    .log-container{
        align-self: center;
        text-align: left;
        margin: 0;
    }
    .log-container h2 {
        text-align: initial;
        font-size: 3.6rem;
    }
    .log-container img {
        height: 100%;
    }

    .hero-image{
        grid-area: hero;
        justify-self: end;
    }

    .buttons-container {
        grid-area: buttons;
        justify-content: flex-start;
    }

    .buttons-container a {
        font-size: 2.4rem;
    }
    .buttons-container a img {
        margin-right: 2.4rem;
    }

    .total-connections {
        grid-area: total;
        justify-self: end;
    }
} */
