#page-cadastro {
    width: 100vw;
    height: 100vh;
    color: var(--color-text-in-primary);
    background: #F0F0F7;
    margin: 0;
}
#page-cadastro-content{
    display: flex;
}

.top-container img {
    position: absolute;
    margin-top: 5rem;
    height: 3.6rem;
    transition: opacity 0.2s;
    top: 0;
}

.top-container img:hover {
    opacity: 0.6;
    
}

.proffy-container {
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 50%;
    height: 100%;
    right: 0px;
    top: 0px;
    background: #8257E5;
}
.proffy-container .proffy {
    width: 335px;
    height: 98px;
}
.proffy-container .back-image{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#page-cadastro .cadastro {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    left: 0px;
    top: 0px;
}

#page-cadastro .cadastro .cadastro-container{
    width: 352px;
    height: 363px;
    right: 160px;
    top: 229px;
}

#page-cadastro .cadastro h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 15px;

    color: #32264D;
}

#page-cadastro .cadastro h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: #6A6180;
}


#page-cadastro .cadastro .buttons-container {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}
#page-cadastro .cadastro .input-block + .input-block {
    margin-top: 0;
}

#page-cadastro .cadastro .buttons-container a {
    width: 37.8rem;
    height: 5.6rem;
    border-radius: 0.8rem;
    margin-right: 0rem;
    font: 700 2.0rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    transition: background-color 0.2s;
}

#page-cadastro .cadastro .buttons-container a.log-in {
    background: var(--color-secondary);
}

#page-cadastro .cadastro .buttons-container a.log-in:hover {
    background: var(--color-secondary-dark);
}
